<a href="https://github.com/HrisiCookie/Team-Robin"><h1>Team "Robin"</h1></a>
<h5>( Hrisi_Cookie - Христина Байлова, 
nProdanov - Николай Проданов,
Absend - Атанас Папучаров,
martinyotov - Мартин Йотов,
DKatsarski - Димитър Кацарски )</h5>

<a href="https://en.wikipedia.org/wiki/Single-page_application"><h2>JavaScript Applications - Single-page application</h2></a>
<h3>Used:</h3>
<ul>
    <li><h4>Client side:</h4> 
        <a href="http://sammyjs.org/">sammy</a>, 
        <a href="https://jquery.com/">jquery</a>, 
        <a href="http://getbootstrap.com/">bootstrap</a>, 
        <a href="http://handlebarsjs.com/">handlebars</a>, 
        <a href="https://github.com/CodeSeven/toastr">toastr</a>, 
        <a href="https://github.com/sytelus/CryptoJS">crypto-js</a>,
        <a href="https://github.com/systemjs/systemjs">systemjs</a></li><br> 
    <li><h4>Server side:</h4>
        <a href="http://expressjs.com/">express</a>, 
        <a href="http://mongoosejs.com/">mongoose</a>
    <li><h4>Testing:</h4>
        <a href="https://mochajs.org/">mocha</a>, 
        <a href="http://chaijs.com/">chai</a></li><br>
</ul>