<h1>Best sellers ...</h1>
<div class="row">
    <img class="col-md-3" src="../assets/images/El_ingenioso_hidalgo_don_Quijote_de_la_Mancha.jpg" alt="Don Quihote de la Mancha" width="300" height="400">
    <img class="col-md-3" src="../assets/images/Tales_serial.jpg" alt="Tales" width="300" height="400">
    <img class="col-md-3" src="../assets/images/TheAlchemist.jpg" alt="The Alchemist" width="300" height="400">
    <img class="col-md-3" src="../assets/images/Littleprince.JPG" alt="Little prince" width="300" height="400">
</div>