div p a:after {
  content: ',';
}
div p a:last-of-type:after {
  content: '';
}
.book-title > small {
  display: none;
}
.book-title:hover > small {
  display: inline
}
.col-sm-1 {
  width: 23%;
}
.col-sm-3 {
  width: 36%;
}
.col-sm-offset-1 {
  margin-left: 32.32%;
  margin-top: 1%;
}
.wrong-field {
  color: red;
  line-height: 34px;
}
.displayNone {
  display: none;
}
.right {
  float: right;
}
.socialHeader {
  line-height: 37px;
  margin-right: 18%;
}
.socialMargin {
  margin-bottom: 5px;
}
.book-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px
}
.pages a:after {
  content:', '
}

.pages a:last-of-type:after {
  content: '';
}
