<h1>Add a book</h1>
<div class="form-group">
    <label for="tb-title"><h3>Title*</h3></label>
    <input type="text" placeholder="Title example: King Rat" id="tb-title" class="form-control">
    <label for="tb-author"><h3>Author*</h3></label>
    <input type="text" placeholder="Author example: James Clavell" id="tb-author" class="form-control">
    <label for="tb-genres"><h3>Genres*</h3></label>
    <input type="text" placeholder="Genres example: Novel, History, Drama" id="tb-genres" class="form-control">
    <label for="tb-description"><h3>Description*</h3></label>
    <textarea type="text" placeholder="Short plot of the book example: King Rat is a 1962 novel by James Clavell and the author's literary debut. Set during World War II, the novel describes the struggle for survival of ...." id="tb-description" class="form-control"></textarea>
    <label for="tb-pages"><h3>Pages*</h3></label>
    <input type="number" placeholder="Example: 150" id="tb-pages"class="form-control">
    <label for="tb-cover"><h3>Cover</h3></label>
    <input type="text" placeholder="https://moonwolves.files.wordpress.com/2011/05/king-rat.jpg" id="tb-cover" class="form-control">
    <p><strong><h4>Fields with * are required</h4></strong></p>
    <button class="btn btn-success btn-lg" id="btn-add-book">Add book</button>
</div>
    
