<h1>All time best sellers ...</h1>
<div class="row">
    <a href="https://en.wikipedia.org/wiki/Don_Quixote"><img class="col-md-3 img-thumbnail col-md-offset-1" src="../assets/images/El_ingenioso_hidalgo_don_Quijote_de_la_Mancha.jpg" alt="Don Quihote de la Mancha" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/A_Tale_of_Two_Cities"><img class="col-md-3 img-thumbnail" src="../assets/images/Tales_serial.jpg" alt="Tale of two cities" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/The_Alchemist_(novel)"><img class="col-md-3 img-thumbnail" src="../assets/images/TheAlchemist.jpg" alt="The Alchemist" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/The_Little_Prince"><img class="col-md-3 img-thumbnail" src="../assets/images/Littleprince.JPG" alt="Little prince" width="300" height="400"></a>
</div><br>
<div class="row">
    <a href="https://en.wikipedia.org/wiki/Harry_Potter_and_the_Philosopher%27s_Stone"><img class="col-md-3 img-thumbnail col-md-offset-1" src="../assets/images/Harry_Potter_and_the_Philosopher's_Stone_Book_Cover.jpg" alt="Harry Potter and the Philosopher's Stone" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/The_Hobbit"><img class="col-md-3 img-thumbnail" src="../assets/images/220px-TheHobbit_FirstEdition.jpg" alt="The Hobbit" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/And_Then_There_Were_None"><img class="col-md-3 img-thumbnail" src="../assets/images/And_Then_There_Were_None_First_Edition_Cover_1939.jpg" alt="And Then There Were None" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/Dream_of_the_Red_Chamber"><img class="col-md-3 img-thumbnail" src="../assets/images/180px-Hongloumeng2.jpg" alt="Dream of the Red Chamber" width="300" height="400"></a>
</div><br>
<div class="row">
    <a href="https://en.wikipedia.org/wiki/Alice%27s_Adventures_in_Wonderland"><img class="col-md-3 img-thumbnail col-md-offset-1" src="../assets/images/Alice_in_Wonderland,_cover_1865.jpg" alt="Alice's Adventures in Wonderland" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/The_Lion,_the_Witch_and_the_Wardrobe"><img class="col-md-3 img-thumbnail" src="../assets/images/220px-TheLionWitchWardrobe(1stEd).jpg" alt="The Lion, the Witch and the Wardrobe" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/She:_A_History_of_Adventure"><img class="col-md-3 img-thumbnail" src="../assets/images/She_title_page.jpg" alt="She: A History of Adventure" width="300" height="400"></a>
    <a href="https://en.wikipedia.org/wiki/The_Da_Vinci_Code"><img class="col-md-3 img-thumbnail" src="../assets/images/220px-DaVinciCode.jpg" alt="The Da Vinci Code" width="300" height="400"></a>
</div><br>