<!--<section id="sidebar" class="col-md-4">-->
    <div class="username-books">
        <h3>{{username}}</h3>
        <div class="table-responsive col-md-3">
            <div class="table">
                <div class="row">
                    <div id="currently-reading">
                        <a href="#/">Currently reading books</a>
                    </div>
                </div>        
                <div class="row">
                    <div id="read">
                        <a href="#/">Already read books</a>
                    </div>
                </div>
                <div class="row">
                    <div id="want-to-read">
                        <a href="#/">Want to read books</a>
                    </div>
                </div>
            </div>  
        </div>
    </div>
<!--</section>-->

<div class="table-responsive col-md-6">
    <div class="table">
        <div class="row">
            <div id="newsfeed">
            </div>
        </div>        
    </div>  
</div>