<h3 >{{username}}</h3>
<div class="table-responsive col-md-3">
    <table class="table">
        <tr class="row">
            <td id="currently-reading">
                <h3>Currently reading books</h3>
            </td>
        </tr>        
        <tr class="row">
            <td id="read">
                <h3>Already read books</h3>
            </td>
        </tr>
        <tr class="row">
            <td id="want-to-read">
                <h3>Want to read books</h3>
            </td>
        </tr>
    </table>  
</div>
<div class="table-responsive col-md-6">
    <table class="table">
        <tr class="row">
            <td id="newsfeed">
            </td>
        </tr>        
    </table>  
</div>