<div class="register-form">
    <h1>Sign Up</h1>

    <div class="form-group">
        <label for="tb-username glyphicon glyphicon-user"">Username: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input id="tb-username" type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn">Password: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input id="tb-password" type="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="tb-passworn-confirm">Confirm Password: </label>
        <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
        <input id="tb-password-confirm" type="password" class="form-control">
        </div>
    </div>
    <button class="btn btn-success" id="btn-register" >Sign Up</button>
</div>