<div class="register-form">
    <h1>Sign Up</h1>

    <div class="form-group">
        <label for="tb-username">Username: </label>
        <input id="tb-username" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="tb-passworn">Password: </label>
        <input id="tb-password" type="password" class="form-control">
    </div>
    <div class="form-group">
        <label for="tb-passworn-confirm">Confirm Password: </label>
        <input id="tb-password-confirm" type="password" class="form-control">
    </div>
    <button class="btn btn-success" id="btn-register" >Sign Up</button>
</div>