body {
    background-color: whitesmoke;
}

main {
    min-height: 560px;
    font-family: SpringTime;
}

main h1 {
    margin-left: 80px;
}

#foot {
    text-align: center;
    margin-top: 20px;
    
}

#spa {
    display: inline-block;
    margin-left: 15px;
}

.spa {
    font-size: 20px;
    font-family: "Architects Daughter";
    color: green;
}

.foot-center {
    text-align: center;
}

#github-img:hover {
    border: 2px solid steelblue;
}

.resource-link {
    background-color: ghostwhite;
}

.github-btn {
    float: right;
}

h1 {
    color: darkslateblue;
    display: inline-block;
    font-family: "Architects Daughter";
	font-size: 36px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

h2 {
    color: darkslateblue;
}

h5 {
    color: darkmagenta;
}

#my-books {
    font-family: "Irish Grover";
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: white;
}

a {
    font-family: "Architects Daughter";
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    text-decoration: none;
}

#copyright {
    float: right;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}

.nav-li {
    font-family: "Adamina";
    font-size: 1.5em;
    font-weight: bold;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}

.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

.star{
    color: #edd20b;
}

.btn-star{
    border: none;
}

.btn-star :hover{
    background-color: #f7f6ef;
}

.review-wrapper {
    margin-top: 20px;
}

.single-review-wrapper{
    border-bottom: 2px solid #dce4ec;
    margin: 10px;
}

.single-review-wrapper a {
    font-size: 22px;
    padding: 15px;
    padding-left: 0px;
}

.review-rating-adder .clicked{
    background-color: green;
}

.form-group {
    margin-top: 100px;
}

#search {
    margin-top: 80px;
    margin-bottom: 10px;
}

#login, #logout {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 5px;
}

#register {
     margin-top: 10px;
     padding: 5px;
}

#content .row img {
    width: 250px;;
    height: 300px;
}

.table .col-md-3 img {
    width: 250px;;
    height: 300px;
}

.row h1 {
    margin-bottom: 50px;
}

.username-books {
    margin-top: 100px;
}

.username-books h3 {
    font-family: "Architects Daughter";
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

#view-more {
    margin-left: 145px;
    
}

#view-more a {
    padding: 7px;
}

.btn-group button {
    font-family: "Architects Daughter";
}

.register-form .form-group span, .log-in-form .form-group span, .form-group span {
    color: #d3040e;
}

.form-group h5 {
    font-family: "Architects Daughter";
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
    color: navy;
}

.form-group h4 {
    float: left;
}

.form-group button, .log-in-form button, .register-form button {
    font-family: "Architects Daughter";
    font-size: 22px;
    padding: 5px;
    float: right;
}

.cat {
    margin-top: 90px;
    margin-left: 150px;
    text-align: center;
    width: 330px;
    height: 400px;
}

.form-group label {
    font-family: "Architects Daughter";
    font-size: 26px;
    font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.log-in-form h1, .register-form h1 {
    margin-top: 100px;
    text-align: left;
}

.log-in-form .form-group, .register-form .form-group {
    margin-top: 50px;
}

.genre {
    display: block
}

#book-wrapper p {
    font-size: 28px;
}

#book-wrapper a {
    font-size: 22px;
}

#book-wrapper .row img {
    width: 300px;
    height: 400px;
}

#book-wrapper strong {
    font-family: "Architects Daughter";
    font-size: 22px;
}

#book-title {
    margin-bottom: 40px;
}

.status-changer h4, .status-wrapper h2 {
    margin-top: 30px;
    color: navy;
    font-family: "Architects Daughter";
    font-size: 32px;
}

.my-books-all {
    margin-top: 80px;
}

.new-wrapper h3 {
    font-family: "Architects Daughter";
    font-size: 26px;
    margin-bottom: 30px;
}

.new-wrapper {
    font-family: "Architects Daughter";
    font-size: 18px;
    margin-top: 50px;
    margin-left: 100px;
}

.new-wrapper h4 {
    margin-bottom: 30px;
}

.new-wrapper p {
    margin-bottom: 0px;
}

.new-wrapper .col-md-9 {
    font-family: "Architects Daughter";
    font-size: 20px;
    margin-top: 20px;
}

.preview {
    margin-top: 50px;
}

.preview h4 {
    font-family: "Architects Daughter";
    font-size: 26px;
}

.table-responsive p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

.table .row {
    margin-bottom: 30px;
}

.table-responsive button {
    margin-top: 50px;
    font-family: "Architects Daughter";
    font-size: 18px;
    padding: 8px;
}

.disapear {
    visibility: hidden
}